@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.qt-loading {
  position: relative;
  width: 20em;
  height: 20em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

/* qtload010 */
#qt-loading-qtload010>div:nth-child(1) {
  position: relative;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  background-color: rgb(18, 87, 16);
  opacity: 0;
  animation: qt-loadanim004 2s infinite ease-out;
}

#qt-loading-qtload010>div:nth-child(2) {
  position: absolute;
  width: 20em;
  height: 20em;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: rgb(106, 181, 51);
  opacity: 0;
  animation: qt-loadanim004 2s infinite ease-out;
  animation-delay: 1s;
}

body {
  background-image: url('./img/village-scene.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.chat-input {
  outline: none;
}

@keyframes qt-loadanim004 {
  0% {
    transform: scale(0%, 0%);
    opacity: 1;
  }

  100% {
    transform: scale(100%, 100%);
    opacity: 0;
  }
}

.message-wrapper {
  display: flex;
}

.message-wrapper.user-message {
  justify-content: flex-end;
}

.message-wrapper.bot-message>div {
  background: rgba(113, 215, 16, 0.4) !important;
  border-radius: 15px 15px 15px 0 !important;
}


@media only screen and (max-width: 500px) {
  .chat-container {
    width: 227px !important;
  }
}